<div class="container">

<h1><%= @listing.title %></h1><br>

<%= @listing.description %>


There will also be a photo

<p>$<%= @listing.price %> per month</p>
<a href="/messages/new/<%= @listing.id %>" class="btn btn-info2" role="button">Contact <%= @listing.manager.full_name %></a>
</div>


this will be a map!!!!
