<div class="container">

  <h1><%= @user.full_name  %></h1>
  this is a users personal description<br><br>
  <p><%= @user.description %></p><br>
  <!-- this will list the persons references with the reference author which will link back to their profile -->
  <h2>References</h2><br><br>
  <% @user.references.each do |reference| %>
    <%= reference.reference %><br>
    <a href="/users/<%= reference.author.id %>"><%= reference.author.full_name %></a><br>
  <% end %>
</div>
